<div class="about-content">
<p>
  (This content still needs to be updated.)
</p>
<div class="about">
<p>
  This Application presents <span id="primary">DiffSearch</span>, the first <span id="primary">scalable and precise search engine for code changes</span>.
</p>
<p>For more details</p>
<ul>
  <li>Read our <a href="about">paper</a></li>
  <li>Inspect the <a href="about">source code</a></li>
</ul>
</div>
<h2 class="mat-h1">Authors</h2>
<div class="auths">
  <mat-grid-list [cols]="isMobile ? 1 : 2"
                rowHeight="150px">
    <mat-grid-tile>
      <mat-card id="author" class="mat-elevation-z0">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon arial-hidden="false" aria-label="user icon" style="transform: scale(1.8);">
              account_circle
            </mat-icon>
          </div>
          <mat-card-title>Luca Di Grazia</mat-card-title>
          <mat-card-subtitle>University of Stuttgart <br>
            <a href="https://www.software-lab.org/people/Luca_DiGrazia.html"><mat-icon>language</mat-icon></a>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card id="author" class="mat-elevation-z0">
        <mat-card-header>
          <img mat-card-avatar class="header-image" src="../../assets/images/mpradel.png">
          <mat-card-title>Michael Pradel</mat-card-title>
          <mat-card-subtitle>University of Stuttgart <br>
            <a href="https://www.software-lab.org/people/Michael_Pradel.html"><mat-icon>language</mat-icon></a>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
</div>
