@import "./../../theme";

.about {
  width: 95%;
  line-height: 150%;
}

@media only screen and (min-width: 42em) and (max-width: 64em) {
  /* min-width 672px / max-width 1024px */
  /*     probably nodepads     */
  .about {
    width: 95%;
    line-height: 150%;
  }
}

/** larger monitors **/
@media only screen and (min-width: 1000px) {
  .about {
    width: 80%;
    line-height: 150%;
  }
}

#primary {
  color : $primary;
}

.mat-h1 {
  text-align: center;
  // width: 80%;
}

// .authors {
//   display: flex;
//   justify-content: center;
//   width: 80%;
//   border-color: lightskyblue;
//   border: solid;
// }

// .auths{
//   width: 80%;
// }

#author {
  background-color: transparent !important;
}

.web-interface {
  // width: 80%;
  margin-top: 5rem;
  text-align: center;
}

.web-interface span {
  font-size: 80%;
}

.header-image {
  background-size: cover;
  background-color: whitesmoke;
}

a {
 color: $primary !important;
}
