@import "./../../theme";
.about {
  // mobile
  line-height: 150%;
  max-width: 95%;

}

div.about {
  margin: auto;
}

#primary {
  color : mat-color($primary-palette);
}

@media only screen and (min-width: 42em) and (max-width: 64em) {
  // min-width 672px / max-width 1024px
  // probably nodepads
  .about {
    width: 95%;
    line-height: 150%;
  }
}

// larger monitors
@media only screen and (min-width: 1000px) {
  .about {
    width: 80%;
    line-height: 150%;
  }
}

.mat-h1 {
  margin-top: 3rem;
  text-align: center;
  // width: 80%;
}

#author {
  background-color: transparent !important;
}

.contributors-wrapper {
  padding-top: 20px;
  text-align: center;
}
.contributors {
  vertical-align: top;
  display: inline-block;
  width: 40%;
  min-width: 250px;
  text-align: center;
  padding-top: 20px;
}

.contributors span {
  font-size: 80%;
}

.header-image {
  background-size: cover;
  background-color: lightgray;
}

a {
 //color : mat-color($primary-palette);
 color : black;
 text-decoration: none;
}
