<div class="about">
  <p>
    The source code of successful projects is evolving all the time,
  resulting in hundreds of thousands of code changes stored in source code
  repositories. This wealth of data has been used for various mining and
  learning tasks. However, it is still difficult to search for specific
  kinds of code changes across a large number of code repositories and
  changes.
  </p>
  <p>
    To fill this gap, we here present <span id="primary">DiffSearch -- the first scalable and
  precise search engine for code changes</span>. Given a query that describes
  possibly abstracted versions of a code snippet before and after a
  change, the approach returns a set of changes that are guaranteed to
  match the query.
  </p>
  <h1 class="mat-h1">Authors</h1>
  <div>
    <mat-grid-list [cols]="isMobile ? 1 : 3"
      rowHeight="150px">
      <mat-grid-tile>
        <a href="https://www.software-lab.org/people/Luca_DiGrazia.html" target="_blank" rel="noopener noreferrer">
        <mat-card id="author" class="mat-elevation-z0">
          <mat-card-header>
            <div mat-card-avatar>
              <img mat-card-avatar class="header-image" src="../../assets/images/ldigrazia.png">
            </div>
            <mat-card-title>Luca Di Grazia</mat-card-title>
            <mat-card-subtitle>University of Stuttgart
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </a>
      </mat-grid-tile>

      <mat-grid-tile>
        <a href="https://www.software-lab.org/people.html" target="_blank" rel="noopener noreferrer">
        <mat-card id="author" class="mat-elevation-z0">
          <mat-card-header>
            <div mat-card-avatar>
              <img mat-card-avatar class="header-image" src="../../assets/images/pbredl.png">
            </div>
            <mat-card-title>Paul Bredel</mat-card-title>
            <mat-card-subtitle>University of Stuttgart
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </a>
      </mat-grid-tile>

      <mat-grid-tile>
        <a href="https://www.software-lab.org/people/Michael_Pradel.html" target="_blank" rel="noopener noreferrer">
        <mat-card id="author" class="mat-elevation-z0">
          <mat-card-header>
            <img mat-card-avatar class="header-image" src="../../assets/images/mpradel.png">
            <mat-card-title>Michael Pradel</mat-card-title>
            <mat-card-subtitle>University of Stuttgart
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="web-interface">
    <p>
      Web interface <br>
      <a href="https://www.iste.uni-stuttgart.de/institute/team/Jenke-00001/" target="_blank" rel="noopener noreferrer"><span>Carola Jenke</span></a>
    </p>
  </div>
</div>
