@import "./../../theme";
.active {
  font-weight: bold;
  color: $primary !important;
  background-color: rgba($primary, 0.12) !important;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.white-background {
  color: $primary !important;
  background-color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-link {
  color: white;
  text-decoration: none;
}

.stretch {
  flex-grow: 1;
}

.content {
  padding: 2%;
}

.mobile {
  padding-top: 40px;
  line-height: 1.2;
}

.last-row {
  padding-top: 30px;
}
