// Plus imports for other components in your app.
// Import of the theming functions
@import "~@angular/material/theming";

// Definition of colour palettes
// $primary-palette: mat-palette($mat-deep-orange);
$primary-palette: mat-palette($mat-indigo);
// $accent-palette: mat-palette($mat-cyan);
$accent-palette: mat-palette($mat-deep-orange);
$warn-palette: mat-palette($mat-red);

// Creating theme objects
$theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);
$dark-theme: mat-dark-theme($primary-palette, $accent-palette, $warn-palette);

// Create $primary, $accent, $warn variables for easy
// use of the primary colour, accent colour, warn colour in variant 500
$primary: mat-color($primary-palette);
$accent: mat-color($accent-palette);
$warn: mat-color($warn-palette);
