/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// router-outlet + * {
//   margin-left: 2rem;
// }

@import "theme";

@include mat-core();
@include angular-material-theme($theme);

.dark-theme {
  @include angular-material-theme($dark-theme);
}
